@import "home";

section {
  padding-bottom: 40px;
  padding-top: 40px;

  .section-header {
    color: $hl-color;
    font-size: 32px;
    margin-bottom: 1em;
    margin-top: -20px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 30, 100, 0.8);
  }
}

.btn.call-to-action {
  background-color: $hl-color;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.6);
  color: white;
  opacity: 0.8;
  padding: 0 10px;
}

#content-header {
  background: url(/assets/computers_bg.jpg) top center;
  color: white;
  font-size: 18px;
  padding-bottom: 0;
  padding-top: 0;

  header.navbar {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 0;
    position: fixed;
    width: 100%;

    .navbar-nav a {
      &:hover {
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }

  .hero {
    padding-top: 60px;
    text-align: center;

    h1 {
      color: $hl-color;
      font-size: 48px;
      text-shadow: 0 1px 0px darken($hl-color, 15%), 0 2px 0px darken($hl-color, 15%), 0 3px 0px darken($hl-color, 15%);
    }
    h2 {
      color: $alt-hl-color;
      font-family: $subhead-font;
      font-weight: normal;
      text-shadow: 0 1px 1px darken($alt-hl-color, 25%);
    }

    .signup {
      font-size: 24px;
      margin-top: 40px;
      text-align: center;

      input, .btn {
        border-radius: 0;
        font-size: 24px;
        height: 42px;
      }

      .btn.call-to-action {
        margin-left: -4px;
      }

      input#signup_email {
        border: none;
        height: 48px;
        margin-right: 1px;
        opacity: 0.5;
        transition: all .3s ease-in-out;
        width: 200px;

        &:hover {
          opacity: 0.7;
        }
        &:focus {
          opacity: 0.7;
          width: 424px;
        }
      }
    }
  }

  .screenshot {
    height: 100px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    transition: all .2s ease-in-out;
    width: 600px;

    &:hover {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
      height: 500px;
      margin-top: -200px;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#description {
  background-color: #eee;
  font-size: 24px;
  text-align: center;
}

#features {
  li {
    position: relative;

    h4 { text-align: center; }

    .glyphicon {
      color: #eee;
      font-size: 128px;
      left: 50%;
      margin-left: -.5em;
      margin-top: 10px;
      position: absolute;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
      z-index: -1;
    }
  }
}

#pricing {
}

#testimonials {
  padding-top: 40px;

  ul li {
    overflow: hidden;

    img {
      border-radius: 64px;
      float: left;
    }
    .quote, .attribution {
      margin-left: 138px;
    }
    .quote {
      color: #888;
      font-style: italic;
      margin-top: 10px;
    }
    .attribution {
      text-align: right;
    }
  }
}

#last-call {
  .callout {
    text-align: center;
  }
}

footer {
  margin-top: 40px;
}
