!!! 5
%html
  %head
    %meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')
  %body
    %h1 Thanks for signing up!
    %p
      We’re not quite ready for ya yet, but we’ll let you know as soon as 
      we launch. If you’d like to be added to our beta list for early access,
      just fill out this quick questionnaire.
    %p
      In the meantime, check out our blog <a href="#">here</a>, and follow us 
      on twitter <a href="http://twitter.com/appname-io">here</a>.
    %p
      And if you have any questions, 
      drop us a line at <a href="mailto:support@appname.io">support@appname.io</a>.
    %p We can’t wait to show you what we’ve made!
    %p AppName.io Team

