.container
  .row
    .col-md-12
      %h3 #{collection.count} Signups
  .row
    .col-md-12
      %ul
        - collection.each do |signup|
          %li= signup.email
      = will_paginate collection
