%header.navbar.transparent.navbar-top(role="navigation")
  .container
    .row
      .col-md-12
        .navbar-header
          %a.navbar-brand(href="/")
            <b>AppName</b>.io

        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li
              = link_to "Log out", destroy_user_session_url, method: :delete
          - else
            %li
              %a.page-nav(href="#features") Features
            %li
              %a.page-nav(href="#pricing") Pricing
            %li
              %a.page-nav(href="#testimonials") Testimonials
            %li
              %a.page-nav(href="#news") News
            %li
              %a.page-nav(href="#signup") Sign up

:javascript
  $('.page-nav').click(function() {
    var navHeight = $(this).outerHeight();
    var target = $(this).attr('href');
    $('html, body').animate({
      scrollTop: $(target).offset().top - navHeight
    }, 300, 'swing');
    if (target == '#signup') {
    console.log(target);
      $(target).find('#signup_email').focus();
    }
    return false;
  });

