%table.pricing-table.table.table-striped
  %thead
    %tr
      %th
      %th
        %span.plan-name Basic<br />
        %span.plan-price $9/mo.<br />
        %span.plan-button
          %a.btn.btn-primary(href="#") Free trial
      %th
        %span.plan-name Plus<br />
        %span.plan-price $9/mo.<br />
        %span.plan-button
          %a.btn.btn-primary(href="#") Free trial
      %th
        %span.plan-name Premium<br />
        %span.plan-price $9/mo.<br />
        %span.plan-button
          %a.btn.btn-primary(href="#") Free trial
  %tbody
    %tr
      %td Feature A
      %td
        %span.glyphicon.glyphicon-ok-circle
      %td
        %span.glyphicon.glyphicon-ok-circle
      %td
        %span.glyphicon.glyphicon-ok-circle
    %tr
      %td Feature B
      %td
      %td
        %span.glyphicon.glyphicon-ok-circle
      %td
        %span.glyphicon.glyphicon-ok-circle
    %tr
      %td Feature C
      %td
      %td
      %td
        %span.glyphicon.glyphicon-ok-circle
