#thanks.container
  .row
    .col-md-12
      %h1 Thanks!
      %h2 We’ll let you know as soon as we’re ready.
      %p
        %b Psst… wanna get in earlier?
      %p
        Fill out <a href="#">this brief questionnaire</a> to be added to our
        list for early access.
