// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$hl-color: #48a;
$alt-hl-color: #E46964;

$head-font: 'Share', sans-serif;
$subhead-font: 'Raleway', sans-serif;
$body-font: 'Roboto Slab', serif;

body {
  display: flex;
  flex-direction: column;
  font-family: $body-font;
  font-size: 18px;
  min-height: 100vh;
}

a, a:link, a:visited {
  color: #48a;
}

main {
  flex: 1;
}

h1, h2, h3, h4, h5 {
  font-family: $head-font;
  font-weight: bold;
}

footer {
  background: #222;
  color: #ddd;
  font-size: 14px;
  padding: 20px 0;
}
